    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/public/img/elma.jpg" height="160" width="300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Elma</a>
                </h4>
                <h5>4.99 TL</h5>
                 <select id="kg" class="form-control">
                    <option selected>Kg seçiniz</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                <a href="#">Satın al</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/public/img/limon.jpg" height="160" width="300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Limon</a>
                </h4>
                <h5>6.95 TL</h5>
                 <select id="kg" class="form-control">
                    <option selected>Kg seçiniz</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                <a href="#">Satın al</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/public/img/sogan.jpg" height="160" width="300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Soğan</a>
                </h4>
                <h5>3.75 TL</h5>
                 <select id="kg" class="form-control">
                    <option selected>Kg seçiniz</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                <a href="#">Satın al</a>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/public/img/cilek.jpg" height="160" width="300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Çilek</a>
                </h4>
                <h5>7.50 TL</h5>
                 <select id="kg" class="form-control">
                    <option selected>Kg seçiniz</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                <a href="#">Satın al</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/public/img/patates.jpg" height="160" width="300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Patates</a>
                </h4>
                <h5>4.50 TL</h5>
                 <select id="kg" class="form-control">
                    <option selected>Kg seçiniz</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                <a href="#">Satın al</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/public/img/biber.jpg" height="160" width="300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Biber</a>
                </h4>
                <h5>5.99 TL</h5>
                 <select id="kg" class="form-control">
                    <option selected>Kg seçiniz</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                <a href="#">Satın al</a>
            </div>
          </div>
        </div>
      </div> 



